body {
    background-color: black;
    color: white;
    min-height: 100vh;
   
}

#light-bulbs {
    top: 200px;
    left: 500px;
    height: 500px;
    width: 500px;
    position: relative;
}

.bulb {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: green;
    margin-top: 100px;
    margin-left: 250px;
    border-radius: 10px;
    display: inline-block;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

.bulb.chosen {
    background: red;
}

.bulb.active {
    background-color: blue;
}
.bulb.result {
    background-color: blue;
}

#stopBtn {
    display: inline-block;
    position: absolute;
    margin-top: 80px;
    margin-left: 640px;
}